:root{
  font-size: 16px;
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}
.header{
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.app__main {
  height: 100%;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 90vh;
}


.postList__section{
  padding: 2rem;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  grid-column: 2 3;
  resize: horizontal;
}

.postList__title{
  margin-bottom: 2rem;
  cursor: default;
}

.post {
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: ease-in-out 300ms;
}

.post:hover{
  scale: 1.05;
  background-color: white;
  filter: drop-shadow(10px 5px 10px #0000001a);
}

.post__title{
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.form__input{
  font-size: inherit;
  grid-column: span 3;
  padding: .5rem;
}
.form__label {
  grid-column: span 3;
  font-style: italic;
}
.form__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.form__title{
  justify-content: center;
  align-content: center;
  margin: 3rem 0 -3rem 0;
}

.form__form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  padding: 8rem;
  gap: .5rem;
  font-size: 1.5rem;
  transition: ease-in-out 300ms;  
}


.button{
  grid-column: span 3;
  background-color: black;
  color: whitesmoke;
  border: none;
  border-radius: .25rem;
  font-size: 1.1rem;
  padding: .5rem 1rem;
  transition: ease-in-out 300ms;
}

.button:hover{
  background-color: dimgray;
}

.button--secondary{
  background-color: whitesmoke;
  color: black;
  box-shadow: inset 0 0 0 .125rem #000;
  border-radius: .25rem;
  font-size: 1.1rem;
  padding: .75rem 1rem;
  transition: ease-in-out 300ms;
  grid-column: span 3;
}

.button--secondary:hover{
  text-decoration: underline;
}